* {
box-sizing:border-box;
}

html {
    font-size: 16px;
}

body {
width:100%;
font-family:Roboto, sans-serif;
font-size:14px;
}

nav {
    font-size: 2rem;
}



ul.flex-container {
font-family:Roboto;
font-style:normal;
font-weight:300;
line-height:normal;
font-size:24px;
text-align:center;
color:#262626;
float:right;
flex-direction:row;
display:flex;
margin: 0;
padding: 0;
justify-content: space-around;
list-style:none;
flex-wrap: wrap;
}


nav ul li {
font-family:Roboto;
font-size:18px;
padding:0.5rem;
flex:auto;
text-align: center;
}

nav ul li:hover {
color:blue;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    ul.flex-container {
        flex-direction: column;
        
    }
    
}

.container {
padding-top:30px;
width:70rem;
height: 100vh; 
padding-bottom:30px;
grid-template-columns:1fr;
grid-template-rows:1fr;
grid-template-areas:overlap;
margin:0 auto;
}


.logo-container {
top:0;
bottom:33.77%;
float:left;
margin-left: 8%;
margin-right: 62%;
}

.responsive {
  max-width: 100%;
  height: auto;

}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


a {
text-decoration:none;
color:#000;
}

section.hero {
    width:auto;
    height: 20rem;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
}

h1.homepage {
font-family:Roboto;
font-style:normal;
font-weight:400;
line-height:normal;
font-size:3rem;
text-align:left;
color:#262626;
clear:both;
padding-top:4%;
}

h4 {
font-family:Roboto;
font-style:normal;
font-weight:300;
line-height:normal;
font-size:18px;
color:#262626;
clear:both;
}

img.rubiks {
float:right;
}

div.project {
clear:both;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.iDesign {
font-family:Roboto;
font-style:normal;
font-weight:300;
font-size:18px;
color:#262626;
float:left;
clear:both;
padding-bottom:50px;
margin:0;
}

div.cloudy-container {
padding-top: 5%;
margin:auto;
display:flex;
flex-direction:column;
}

img.cloudy {
position:relative;
}

h2 {
font-family:Roboto;
font-style:normal;
font-weight:400;
line-height:normal;
font-size:36px;
text-align:center;
color:#262626;
}

h3 {
font-family:Roboto;
font-style:normal;
font-weight:400;
line-height:normal;
font-size:32px;
text-align:center;
color:#262626;
}

.clearTalk {
width:110%;
}

.green {
width:70%;
height:70%;
background:#188238;
box-shadow:inset 0 4px 4px rgba(0,0,0,0.25);
border-radius:2px;
line-height:normal;
float:left;
margin-top:5%;
align-items:center;
}

.title-column-right {
text-align:center;
flex-direction:column;
width:30%;
align-items: center;
}

.title-column-left {
text-align:center;
float:left;
flex-direction:column;
width:30%;
align-items:center;
}

.yellow {
width:70%;
height: 70%;
background:#FEDD52;
box-shadow:inset 0 4px 4px rgba(0,0,0,0.25);
border-radius:2px;
line-height:normal;
align-items:center;
float:right;
margin-top:10%;
margin-bottom: 5%;
}

.goodEats {
align-items:center;
background-position:center;
display:flex;
width:90%;
margin:50px;
}

.title-column-right-bottom {
text-align:center;
float:right;
flex-direction:column;
width:30%;
}

.blue {
width:70%;
height:70%;
background:#2C4E7A;
box-shadow:inset 0 4px 4px rgba(0,0,0,0.25);
border-radius:2px;
line-height:normal;
float:left;
align-items:center;
margin-top: 5%;
}

.orderIt {
width:120%;
}

.container2 {
padding-top:30px;
width:70%;
margin:0 auto;
}

.iUse {
padding-top:30px;
padding-bottom:30px;
height:20%;
display:block;
margin-left: 8%;
}

footer {
left:10px;
right:10px;
bottom:0;
width:100%;
background-color:#F5F5F5;
text-align:center;
align-items:center;
}

.bottom-nav {
float:right;
display:inline-flex;
margin-right:40px;
}

div.my-name {
float:left;
margin-left:94px;
font-size:16px;
}

.nav-item {
float:right;
padding-left:10px;
padding-right:10px;
font-size:16px;
}

.project-overview {
align-items:center;
}

h1.project {
font-family:nunito;
font-style:normal;
font-weight:400;
font-size:36px;
line-height:normal;
width:100%;
display:inline-block;
}

div.visual {
margin:auto;
}

h2.section-subtitle {
font-size:28px;
text-align:left;
font-family:nunito;
padding-top: 2%;
}

h4.project-page {
font-size:22px;
margin-top:1%;
margin-bottom:auto;

}

div.grid {
padding-left:70px;
}

.row:after {
display:table;
clear:both;
content:"";
}

.column {
float:left;
width:50%;
padding:10px;
}

.column-swot {
float:left;
width:25%;
}

h4.column-swot {
width:25%;
clear:both;
}

.swot {
display:flex;
text-align:left;
clear:both;
margin-top: 2%;
}

li.swot-list-title {
text-align:center;
padding-bottom:2%;
font-size: larger;
}

p.section-description-container {
width:100%;
display:block;
margin-top:0;
}

.view-button {
padding-left:50%;
padding-top:3%;
}

div.flex-container {
display:flex;
clear:both;
flex-direction:column;
text-align:left;
flex-wrap: wrap;
}

nav.flex-container {
display:flex;
clear:both;
flex-direction:row;
text-align:right;
flex-wrap: nowrap;
margin-top: 5%;
}

.flex-container-ul {
padding-top:1%;
padding-left:5%;
}

div.flex-container-child {
display:flex;
align-items:center;
}

img.competitor-logo {
width:80px;
margin-left:10%;
}

div.quotes {
line-height:27px;
margin-left:15%;
}

img.arrow {
margin-left:8%;
}

div.flex-container.user-personas {
display:flex;
clear:both;
flex-direction:row;
flex-wrap:wrap;
text-align:left;
justify-content:center;
}

img.persona {
width:80px;
height:80px;
}

div.flex-container.persona-container {
display:flex;
clear:both;
flex-direction:column;
width:23%;
text-align:left;
padding-top:2%;
padding-left:2%;
padding-right:2%;
outline-style:solid;
outline-width:.1px;
outline-color:#A9A9A9;
margin:0 5%;
}

div.flex-container.persona-bio {
flex-direction:column;
}

div.flex-container.img-name {
display:flex;
clear:both;
flex-direction:row;
}

div.persona {
margin-left:35%;
width:33%;
}

ul.persona-text {
padding-left:0;
padding-bottom:0;
margin-bottom:0;
}

div.flex-container.bio-class {
flex-direction:column;
padding-left:0;
}

ul.flex-container.bio-class {
display:flex;
padding-left:5px;
flex-direction:column;
}

div.subtitle {
font-size:18px;
padding-top:2%;
text-align:center;
}

div.role {
padding-top:5%;
font-family:Roboto;
font-style:normal;
font-weight:100;
font-size:14px;
line-height:27px;
letter-spacing:.5px;
text-align:center;
}

div.flex-container.persona-text.ul {
padding-left:0;
}

li.subtitle {
font-size:16px;
padding-bottom:2%;
}

li.persona-li {
font-family:Roboto;
font-style:normal;
font-weight:100;
font-size:14px;
line-height:27px;
letter-spacing:.5px;
padding-bottom:5%;
}

ul.flex-container.user-stories {
float:left;
text-align:left;
font-size:16px;
margin-top:1%;
margin-bottom: 1%;
}

.hand {
grid-area:overlap;
width:400px;
height:400px;
}

.graphic {
grid-area:overlap;
width:100px;
height:100px;
}

img.signup {
width:500px;
height:500px;
margin-left:500px;
margin-top:150px;
}

img.userflow {
width:600px;
height:600px;
}

div.flows {
display:block;
}

div.sitemap {
padding-top:15%;
}

div.sitemap-image {
margin-left:10%;
margin-right:10%;
margin-top:5%;
}

button.regular {
width:150px;
height:50px;
background-color:#1950B1;
text-align:center;
font-family:Roboto;
font-size:18px;
color:#FFF;
vertical-align:middle;
box-sizing:border-box;
border-radius:.12em;
display:block;
margin:2% auto;
padding:10px;
}

.lofi {
display:block;
margin-left:auto;
margin-right:auto;
padding-top:2%;
width:50%;
}

ul.user-changes {
list-style:disc;
line-height:27px;
}

ul.user-changes {
list-style:disc;
line-height:27px;
margin-left: 4%;
margin-top: 1%;
}
img.mindmap,img.moodboard,img.colorpalette,img.styleguide,img.doceditorold,img.dashboardold,img.dashboardnew,img.doceditornew {
display:block;
margin-left:auto;
margin-right:auto;
padding-top:5%;
padding-bottom:5%;
width:50%;
}

img.fabcreate {
display:block;
margin-left:auto;
margin-right:auto;
width:20%;
}

p.section-description-centered {
margin-left:auto;
margin-right:auto;
text-align:left;
font-family:Roboto;
font-style:normal;
font-weight:100;
font-size:16px;
line-height:27px;
letter-spacing:.5px;
display:block;
width:50%;
}

footer.flex-container {
background-color:#A9A9A9;
display: flex;
text-align: center;
flex-direction: row;
width: 100%;
}

.caseStudyBtn,.caseStudyBtn2 {
width:235px;
height:36px;
color:#FFF;
font-family:Roboto;
font-style:normal;
font-weight:500;
line-height:normal;
font-size:14px;
text-align:center;
background:#F76919;
background-size:contain;
box-shadow:0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
border-radius:2px;
margin:0 auto;
}

.mytools,img.mockups {
display:block;
margin-left:auto;
margin-right:auto;
width:50%;
}

p.project-description,p.section-description {
font-family:Roboto;
font-style:normal;
font-weight:100;
font-size:16px;
line-height:27px;
letter-spacing:.5px;
margin-top:1%;

}

li.swot-list-item,li.survey-findings {
font-family:Roboto;
font-style:normal;
font-weight:100;
font-size:16px;
line-height:27px;
}

p.toggles {
text-align:center;
}